.row{
    margin: 0;
}

header {
    height: 50px;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

.section{
    display: flex;
}

.main-menu{
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: gray;
    height: 100vh;
}

.main-menu button{
    background-color: gray;
    width: 80%;
    margin: 20px 10px 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: start;
}

.main-menu button:hover{
    background-color: rgb(184, 184, 184);
}
