table{
  height: fit-content;
  margin: 6px;

}
button{
  margin-left: 5px;
  cursor: pointer;
}

button i{
  margin: 3px;
  color: black;
  font-weight: bolder;
}

#excluir{
  background-color: red;
}

