div{
  height: 150px;
  width: 150px;
}

.container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.div-1 {
  background-color: aqua;
}

.div-2 {
  background-color: red;
}

.div-3 {
  background-color: purple;
}

.div-4 {
  background-color: chartreuse;
}

.div-5 {
  background-color: blue;
}

.div-6 {
  background-color: red;
}

.div-7 {
  background-color: purple;
}

.div-8 {
  background-color: chartreuse;
}
