.foto-container {
    display: flex;
    flex-wrap: wrap;
  }

  .foto {
    width: 300px;
    height: auto;
  }

  .divFoto{
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
  }

  .divFoto p{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
    text-align: center;
  }
