*{
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container{    
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    'titulo titulo'
    'lado centro'
    ;
}

.titulo{
    background-color: cadetblue;
    grid-area: titulo; 
    display: flex;
}

.texto-titulo{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.lado{
    background-color: gray;
    grid-area: lado;
}

.lado button{
    height: 15%;
    width: 80%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.centro{
    grid-area: centro;
    margin: 10px;
}

@media (max-width: 700px){
    .grid-container{    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        'titulo'
        'lado'
        'centro'
        ;
    }

    .lado{
        display: flex;
    }

    .lado button{
        height: 70%;
        width: 40%;
        text-align: center;
        border-radius: 15px;
        text-wrap: nowrap;
        padding: 0;
    }

}