
<section class="content">
  <div class="div1">TItulo do site</div>
  <div class="div2">
      <img src="" alt=Imagem>
  </div>
  <div class="div3">
      <h1>Titulo</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quam earum eaque fugiat aut aliquam exercitationem ducimus nostrum asperiores</p>
      <img src="" alt=Imagem>
  </div>
  <div class="div4">
      <h1>Titulo</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quam earum eaque fugiat aut aliquam exercitationem ducimus nostrum asperiores</p>
  </div>
  <div class="div5">
      <img src="" alt=Imagem>
  </div>
  <div class="div6">
    <img src="" alt=Imagem>
  </div>
  <div class="div7">
      <a href="google.com">Google</a>
  </div>
</section>
